@reference '#theme';

.estimate {
  display: grid;
  gap: 24px;
  place-content: center;
  min-height: 90dvh;

  @media (width < 768px) {
    min-height: 70dvh;
  }

  &.visited {
    & h2 {
      --transform-in: translateX(150%) scale(0.8);
      @apply splitted-text;
    }
    & p {
      --opacity-in: 0;
      animation: fade 500ms 500ms var(--ease-out) backwards;
    }
  }

  @supports (animation-timeline: view()) {
    & hgroup,
    & a {
      --transform-in: translateY(calc(var(--index) * 50px));
      animation-name: transform;
      animation-timeline: view(40% 20%);
      animation-fill-mode: backwards;
    }
  }

  & hgroup h2 {
    display: flex;
    padding-block: 16px;
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: 700;
  }
  & hgroup p {
    font-size: clamp(1.2rem, 2vw, 2rem);
  }

  & a {
    font-size: clamp(1.3rem, 2vw, 2rem);
    place-self: center;
  }
}

@media (width < 768px) {
  .estimate {
    & hgroup {
      padding-inline: 16px;
    }

    & hgroup h2 {
      text-align: center;
    }

    & hgroup p {
      text-align: justify;
    }

    & a {
      --transform-in: translateY(100px);
    }
  }
}
