@reference '#theme';

.estimate {
  display: grid;
  gap: 48px;
  place-content: center;
  height: 100dvh;

  &.is-visible {
    & h2 {
      @apply splitted-text;
    }
    & p {
      --opacity-in: 0;
      animation: fade 500ms 500ms var(--ease-out) backwards;
    }
  }
  
  & hgroup,
  & a {
    --transform-in: translateY(calc(300px + var(--index) * 50px));
    --transform-out: translateY(calc(-300px - var(--index) * 50px));

    font-size: clamp(1.2rem, 2vw, 2rem);

    animation-name: transform;
    animation-timeline: view();
    animation-timing-function: var(--ease-middle);
  }

  & hgroup h2 {
    display: flex;
    padding-block: 16px;
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 700;
  }

  & a {
    place-self: center;
  }
}

@media (max-width: 768px) {
  .estimate {
    padding-top: 200px;

    & hgroup {
      padding-inline: 8px;
    }

    & hgroup h2 {
      text-align: center;
    }

    & .estimate hgroup p {
      padding-inline: 16px;
      text-align: justify;
    }
  }
}

@keyframes transform-in {
  from {
    transform: var(--transform);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
