#simulator {
  display: grid;
  gap: 32px;

  & hgroup {
    display: grid;
    justify-items: center;
    gap: 8px;
    padding: 32px;
  }
  & h1 {
    font-size: 2rem;
  }
  & nav {
    --item-width: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));
    gap: 32px;
    margin-inline: auto;
    padding: 16px;

    @media (width < 1200px) {
      --item-width: 370px;
    }
    @media (width < 1000px) {
      --item-width: 350px;
    }
    @media (width < 768px) {
      --item-width: 300px;
    }

    & > a {
      --radius: 16px;
      display: grid;
      overflow: clip;
      &:hover {
        & img {
          transform: scale(1.1);
        }
        & p::before {
          background-color: var(--color-surface-4);
        }
      }
      & .img-container {
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
        overflow: clip;
        view-transition-name: var(--transition-img);
        view-transition-class: image;
      }
      & img {
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
        transition: transform 300ms var(--ease-out);
        width: 100%;
      }
      & .card-content {
        padding: 16px 24px;
        position: relative;
        isolation: isolate;
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          z-index: -1;
          background-color: var(--color-surface-2);
          transition: background-color 300ms var(--ease-out);
          border-bottom-left-radius: var(--radius);
          border-bottom-right-radius: var(--radius);
          view-transition-name: var(--transition-background);
          view-transition-class: background;
        }
      }
      & p {
        display: inline-block;
        font-size: 1.5rem;
        view-transition-name: var(--transition-title);
        view-transition-class: title;
      }
    }
  }
  .cart {
    position: fixed;
    inset-inline-end: 16px;
    padding: 8px 16px;
    background-color: var(--color-accent);
    color: var(--color-on-accent);
    border-radius: 32px;
    z-index: 1;
    font-size: 1.2rem;
    @media (width >= 768px) {  
      top: 16px;
    }
    @media (width < 768px) {  
      bottom: 16px;
    }
  }
}
