#simulator {
  display: grid;
  gap: 32px;

  & hgroup {
    display: grid;
    justify-items: center;
    gap: 8px;
    padding: 32px;
  }
  & h1 {
    font-size: 2rem;
  }
  & nav {
    --item-width: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));
    gap: 32px;
    margin-inline: auto;
    padding: 16px;

    @media (width < 1200px) {
      --item-width: 370px;
    }
    @media (width < 1000px) {
      --item-width: 350px;
    }
    @media (width < 768px) {
      --item-width: 300px;
    }

    & > a {
      display: grid;
      border-radius: 16px;
      overflow: clip;
      background-color: var(--color-surface-2);
      transition: background-color 300ms var(--ease-out);
      &:hover {
        background-color: var(--color-surface-4);
        & img {
          transform: scale(1.1);
        }
      }
      & .img-container {
        overflow: clip;
      }
      & img {
        transition: transform 300ms var(--ease-out);
        width: 100%;
      }
      & p {
        font-size: 1.1rem;
        padding: 16px 24px;
      }
    }
  }
  #cart {
    position: absolute;
    inset-inline-end: 16px;
    padding: 8px;
    background-color: var(--color-accent);
    color: var(--color-on-accent);
    border-radius: 32px;
    @media (width >= 768px) {  
      top: 16px;
    }
    @media (width < 768px) {  
      bottom: 16px;
    }
  }
}
