body:has(#form) {
  display: grid;
  min-height: 100dvh;
}

.step-price {
  padding-inline: 16px;

  & p{
    font-size: 1.2rem;
  }
} 

#form {
  --radius: 16px;
  --background: var(--color-surface-2);
  display: grid;
  place-self: center;
  width: 100%;
  max-width: 800px;
  & .card-content {
    position: relative;
    isolation: isolate;
    &::before {
      content: "";
      inset: 0;
      position: absolute;
      z-index: -1;
      background-color: var(--background);
      border-bottom-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
      view-transition-name: var(--transition-name);
      view-transition-class: background;
    }
  }
  & img {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    width: 100%;
    height: 300px;
    object-fit: cover;
    view-transition-class: image;
  }
  & header {
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background);
    & svg {
      view-transition-name: arrow;
    }
  }
  & h1 {
    display: inline-block;
    font-size: 2rem;
    view-transition-class: title;
    flex: 1;
  }
  & output {
    font-size: 1.5rem;
    --opacity-in: 0;
    animation: fade 300ms var(--ease-in);
  }
  & form {
    display: grid;
    gap: 16px;
    padding: 16px;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    view-transition-name: form;
  }
  & footer {
    display: flex;
    gap: 16px;
  }
  & button[type="submit"] {
    flex: 1;
    background-color: var(--color-accent);
    color: var(--color-on-accent);
    padding: 8px 16px;
    border-radius: 8px;
  } & button[type="submit"]:first-child {
    background-color: var(--color-surface-4);
  }
  @media (width < 800px) {
    --radius: 0px;
    & h1 {
      font-size: 1.2rem;
    }
    & output {
    font-size: 1.1rem;
    }
    & .step-price {
      p{
        font-size: 0.9rem;
      }
    }
    & img {
      height: 200px;
    }
  }
}