body:has(#cart) {
  display: grid;
  min-height: 100dvh;
}

#final-estimation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart {
  display: grid;
  align-content: start;
  gap: 16px;
  max-width: 800px;
  width: 100%;
  
  @media (width >= 800px) {
    place-self: center;
    padding-block: 16px;
    background-color: var(--color-surface-2);
    border-radius: 16px;
    overflow: clip;
  }

  & header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-surface-2);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  & h1 {
    font-size: 1.5rem;
  }

  & h2 {
    padding-inline: 16px;
    font-size: 1.2rem;
  }

  & hgroup > p {
    font-weight: 200;
    padding-inline: 16px;
  }

  & details {
    background-color: var(--color-surface-3);
  }

  & details table {
    width: 100%;
    & th, & td {
      padding: 8px 16px;
    }
    & th {
      text-align: start;
    }
    & td {
      text-align: end;
    }
    & tbody th {
      font-weight: 500;
    }
    & tfoot {
      border-top: 1px solid var(--color-outline);
    }
  }

  & summary {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    cursor: pointer;
  }
  & summary .chevron {
    transition: transform 300ms var(--ease-in-out);
  }
  & summary h3 {
    font-size: 1.1rem;
    margin-inline-end: auto;
  }
  & details[open] {
    & summary {
      background-color: var(--color-surface-4);
    }
    & .chevron {
      transform: rotate(90deg);
    }
  }

  & summary::-webkit-details-marker {
    display: none;
  }

  & form {
    display: grid;
    padding-inline: 16px;
    gap: 16px;
  }

  & button[type="submit"] {
    background-color: var(--color-accent);
    color: var(--color-on-accent);
    padding: 8px 16px;
    font-size: 1.1rem;
    border-radius: 8px;
  }
}