@reference "#theme";

#welcome {
  display: grid;
  gap: 40px;
  min-height: 90dvh;
  position: relative;
  --opacity-out:0;
  animation-name: fade;
  animation-fill-mode: both;
  animation-timeline: view(0% 100%);

  & .calling-card {
    display: grid;
    align-content: end;
    gap: 24px;
  }
  & .logo {
    display: grid;
    grid-template-areas: 'stack';
    width: 200px;
    height: 200px;
    --transform-in: translateY(-200px) scale(1.3);
    --transform-out: translateY(0) scale(1);
    animation-name: transform;
    animation-duration: 400ms;
    animation-delay: var(--logo-duration);
    animation-fill-mode: both;
    animation-timing-function: var(--ease-in-out);
    transform-origin: top center;
    justify-self: center;

    & > * {
      grid-area: stack;
    }

    @media (height < 768px) {
      width: 150px;
      height: 150px;
      --transform-in: translateY(-80px) scale(1.2); 
    }

    & .hammer {
      --opacity-in: 0;
      --opacity-out: 1;
      animation-name: hammer-entry, fade;
      animation-duration: var(--logo-duration);
      transform-origin: 50% 60%;
    }
    & .logo-border path {
      --size: 256;
      stroke-dashoffset: 0;
      stroke-dasharray: var(--size);
      animation: draw 500ms 1.3s ease-out backwards;
    }
    & .hammer.right {
      --transform-0: translate(-30px, 40px) rotate(-60deg);
      --transform-1: translate(20px, -10px) rotate(45deg);
      --transform-2: translate(0) rotate(0);
    }
    & .hammer.left {
      --transform-0: translate(30px, 40px) rotate(60deg);
      --transform-1: translate(-20px, -10px) rotate(-45deg);
      --transform-2: translate(0) rotate(0);
    }
  }



  & .wood-board {
    position: absolute;
    inset: 0;
    width: 250px;
    transform: translateX(-10px) translateY(-50px) rotate(-10deg);
    @media (width < 800px) {
      display: none;
    }
  }


  & hgroup {
    display: grid;
    justify-items: center;
    text-transform: uppercase;
  }
  & h1 {
    display: flex;
    font-size: clamp(1.9rem, 4vw, 5rem);
    --base-delay: 200ms;
    @apply splitted-text;
  }
  & h2 {
    display: flex;
    font-size: clamp(1.4rem, 2.5vw, 4rem);
    font-weight: 200;
    @apply splitted-text;
  }

  & a {
    place-self: center;
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    --transform-in: scale(0.9);
    --opacity-in: 0;
    --opacity-out: 1;
    animation-name: transform, fade;
    animation-fill-mode: backwards;
    animation-duration: 400ms;
    animation-timing-function: var(--ease-in-out);
    animation-delay: var(--logo-duration);
    
  }
}




@keyframes draw {
  from {
    stroke-dashoffset: var(--size);
  }
}

@keyframes hammer-entry {
  0% {
    transform: var(--transform-0);
    animation-timing-function: cubic-bezier(0,1.3,1,1.3);
  }
  50% {
    transform: var(--transform-1);
    animation-timing-function: cubic-bezier(0,.4,0,1);
  }
  80% {
    transform: var(--transform-2);
  }
}
