@reference "#theme";

#welcome {
  display: grid;
  grid-template-rows: auto auto;
  gap: 40px;
  min-height: 90dvh;
  position: relative;
  isolation: isolate;

  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  &::before {
    z-index: -2;
    background-image: radial-gradient(
      transparent 20%,
      var(--color-accent-1) 90%
    );
    --opacity-in: 0;
    --opacity-out: 1;
    animation: fade 1000ms 100ms backwards;
  }
  &::after {
    z-index: -1;
    background-color: var(--color-surface-0);
    /* Use base64 to avoid network call */
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='white' /%3E%3Ccircle cx='20' cy='20' r='1' /%3E%3C/svg%3E");
    mask-mode: luminance;
  }

  @supports (animation-timeline: view()) {
    --opacity-out: 0;
    animation-name: fade;
    animation-fill-mode: both;
    animation-timeline: view(0% 100%);
  }

  & .calling-card {
    display: grid;
    align-content: end;
    gap: 24px;

    & p {
      display: flex;
      justify-content: center;
      gap: 16px;
      font-size: clamp(1rem, 2.5vw, 1.4rem);
      text-transform: uppercase;
      @apply splitted-text;
      --base-delay: 600ms;
      --transform-in: translateY(150%) scale(0.8);
    }
  }
  & .logo {
    display: grid;
    grid-template-areas: "stack";
    width: 200px;
    height: 200px;
    --transform-in: translateY(-200px) scale(1.3);
    --transform-out: translateY(0) scale(1);
    animation-name: transform;
    animation-duration: 400ms;
    animation-delay: var(--logo-duration);
    animation-fill-mode: both;
    animation-timing-function: var(--ease-in-out);
    transform-origin: top center;
    justify-self: center;

    & > * {
      grid-area: stack;
    }

    @media (height < 768px) {
      width: 150px;
      height: 150px;
      --transform-in: translateY(-80px) scale(1.2);
    }

    & .hammer {
      --opacity-in: 0;
      --opacity-out: 1;
      animation-name: hammer-entry, fade;
      animation-duration: var(--logo-duration);
      transform-origin: 50% 60%;
    }
    & .logo-border path {
      --size: 256;
      stroke-dashoffset: 0;
      stroke-dasharray: var(--size);
      animation: draw 500ms 1.3s ease-out backwards;
    }
    & .hammer.right {
      --transform-0: translate(-30px, 40px) rotate(-60deg);
      --transform-1: translate(20px, -10px) rotate(45deg);
      --transform-2: translate(0) rotate(0);
    }
    & .hammer.left {
      --transform-0: translate(30px, 40px) rotate(60deg);
      --transform-1: translate(-20px, -10px) rotate(-45deg);
      --transform-2: translate(0) rotate(0);
    }
  }

  & .wood-board {
    position: absolute;
    inset: 0;
    width: 250px;
    transform: translateX(-10px) translateY(-50px) rotate(-10deg);
    @media (width < 800px) {
      display: none;
    }
  }

  & hgroup {
    display: grid;
    justify-items: center;
    text-transform: uppercase;
  }
  & h1 {
    display: flex;
    font-size: clamp(1.9rem, 4vw, 5rem);
    --base-delay: 200ms;
    --transform-in: translateX(150%) scale(0.8);
    @apply splitted-text;
  }
  & h2 {
    display: flex;
    font-size: clamp(1.4rem, 2.5vw, 4rem);
    font-weight: 200;
    --transform-in: translateX(150%) scale(0.8);
    @apply splitted-text;
  }
  .actions {
    display: grid;
    justify-items: center;
    position: relative;
    & a {
      align-self: start;
      font-size: clamp(1.2rem, 1.5vw, 2rem);
      --transform-in: scale(0.9);
      --opacity-in: 0;
      --opacity-out: 1;
      animation-name: transform, fade;
      animation-fill-mode: backwards;
      animation-duration: 400ms;
      animation-timing-function: var(--ease-in-out);
      animation-delay: var(--logo-duration);
    }
  }
}

@media not (prefers-reduced-motion: reduce) {
  @keyframes draw {
    from {
      stroke-dashoffset: var(--size);
    }
  }

  @keyframes hammer-entry {
    0% {
      transform: var(--transform-0);
      animation-timing-function: cubic-bezier(0, 1.3, 1, 1.3);
    }
    50% {
      transform: var(--transform-1);
      animation-timing-function: cubic-bezier(0, 0.4, 0, 1);
    }
    80% {
      transform: var(--transform-2);
    }
  }
}
