#testimonies {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article {
  display: grid;
  place-items: center;
}

.identity {
  position: sticky;
  top: 0;
  height: 100dvh;
}
.img-container {
  border-top-left-radius: 80px;
  width: 40%;
  aspect-ratio: 1/1;
  border: 3px solid var(--color-outline);
  overflow: clip;
  display: grid;
  grid-template-areas: "stack";

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: stack;
  }
  & svg {
    grid-area: stack;
  }
}

#testimonies ul {
  display: grid;
  gap: 32px;
  padding: 40px;

}


#testimonies.is-visible {
  --duration: 2s;
  & .img-container{
    animation: identity-entry var(--duration) cubic-bezier(0.85, 0, 0, 0.85) both;
  }
  & img {
    --opacity-in: 0;
    animation: fade 300ms calc(var(--duration) - 300ms) var(--ease-out) backwards;
  }
  & svg {
    --opacity-in: 1;
    --opacity-out: 0;
    animation: fade calc(0.5 * var(--duration)) var(--ease-in) both;
    transform: rotate(-45deg);
  }
}

@keyframes identity-entry {
  0% {
    opacity: 0;
    transform: translateY(100px) rotate(45deg);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
    transform: rotate(45deg);
  }
  80% {
    transform: scale(1.1);
  }
}

@keyframes testimony-entry {
  0% {
    opacity: 0;
    transform: translateY(100px) rotate(45deg) scale(0.25, 0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) scale(0.5, 1);
  }
  80% {
    transform: scale(0.5, 1);
  }
}