@utility btn {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--color-accent-2);
  color: var(--color-on-accent);
  & svg {
    flex-shrink: 0;
  }
}

@utility btn-fill {
  @apply btn accent;
}

@utility btn-outline {
  @apply btn;
  background-color: transparent;
  border: 1px solid var(--color-accent-1);
  color: var(--color-contrast);
  transition: border-color 50ms ease-out;
  &:hover {
    border: 1px solid var(--color-on-accent);
  }
}
