/* Gallery */

.gallery {
  min-height: 100dvh;
  padding: 64px 100px 32px 100px;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: 24px;
  position: relative;

  & figure {
    display: grid;
    grid-template-columns: 1fr min-content;
    margin: 0;
    width: 450px;
  }

  & figure:nth-child(odd) {
    grid-column: 2;
  }

  & figure:nth-child(even) {
    grid-column: 1 / span 2;
  }

  & figure figcaption {
    font-size: 2rem;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
  }

  & figure:nth-child(even) figcaption {
    flex-direction: row-reverse;
  }

  & figure figcaption::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: black;
    margin-left: 10px;
  }

  & figure:nth-child(even) figcaption::after {
    margin: 0 10px 0 0;
  }

  & figure img {
    grid-column: 1 / 3;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 2rem;
  }
}

@media (max-width: 768px) {
  .gallery {
    width: calc(100dvw - 16px);

    & figure {
      width: 90dvw;
    }

    & figure:nth-child(odd),
    figure:nth-child(even) {
      grid-column: 1;
    }

    & figure figcaption {
      font-size: 1.4rem;
    }
  }
}
