@reference '#theme';
#gallery {
  min-height: 100dvh;
  display: grid;
  padding: 32px;
  gap: 32px;
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
  position: relative;
  & .scroll-indicator {
    --delta-inline: 100px;
    --width: 40px;
    --thickness: 2px;
    position: absolute;
    align-self: start;
    justify-self: center;
    display: grid;
    justify-items: center;
    grid-template-areas: "stack";
    transform: translateY(calc(-1 * var(--delta-inline)));
    view-timeline: --scroll-indicator;
    view-timeline-inset: 10%;
    container-type: size;
    height: calc(100% + var(--delta-inline) * 2);
    width: var(--width);
    @media (width < 786px) {
      --width: 30px;
      --thickness: 1px;
      @media (orientation: landscape) {
        --delta-inline: 40px;
      }
    }
    & > * {
      grid-area: stack;
    }

    & .line {
      height: 100%;
      width: var(--thickness);
      position: relative;
      overflow: clip;
      &::before,
      &::after {
        content: "";
        position: absolute;
        inset: 0;
      }
      &::before {
        background-color: var(--color-accent);
        opacity: 0.3;
        --transform-in: translateY(-100%);
        --transform-out: translateY(0);
        animation-name: transform;
        animation-duration: 1000ms;
        animation-delay: calc(var(--logo-duration) + 300ms);
        animation-timing-function: (--ease-in-out);
        animation-fill-mode: backwards;
      }
      &::after {
        background-color: var(--color-accent);
        --transform-in: translateY(-100%);
        --transform-out: translateY(0);
        animation-name: transform;
        animation-fill-mode: both;
        animation-timing-function: ease-out;
        animation-timeline: --scroll-indicator;
      }
    }

    & .diamonds {
      width: var(--width);
      aspect-ratio: 1/1;
      translate: 0 -50%;
      position: relative;
      --transform-in: translateY(0) rotate(45deg);
      --transform-out: translateY(100cqh) rotate(45deg);
      animation-name: transform;
      animation-fill-mode: both;
      animation-timing-function: ease-out;
      animation-timeline: --scroll-indicator;
      &::before,
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        --opacity-in: 0;
        --opacity-out: 1;
        animation-name: transform, fade;
        animation-duration: 300ms;
        animation-delay: var(--logo-duration);
        animation-timing-function: var(--ease-in-out);
        animation-fill-mode: backwards;
      }
      &::before {
        border: var(--thickness) solid var(--color-accent);
        --transform-in: rotate(-90deg) scale(0.9);
        --transform-out: rotate(0) scale(1);
      }
      &::after {
        transform: scale(0.5);
        background-color: oklch(
          var(--lightness-secondary) var(--neutral-chroma) var(--hue)
        );
        box-shadow: 0 0 3px 3px var(--color-accent);
        animation-delay: calc(var(--logo-duration) + 300ms);
        --transform-in: scale(0.2);
        --transform-out: scale(0.5);
      }
    }
  }
  .slot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @supports (animation-timeline: view()) {
      --transform-in: translateY(calc(150px - var(--index) * 20px));
      --transform-out: translateY(calc(-150px + var(--index) * 20px));
      animation-name: transform;
      animation-timeline: view();
    }
    & figure {
      display: grid;
      grid-template-columns: 1fr min-content;
      margin: 0;
      width: 100%;
      max-width: 450px;
    }
    & figure:nth-child(odd) {
      justify-self: start;
    }
    & figure:nth-child(even) {
      justify-self: end;
    }
    & figcaption {
      font-size: 2rem;
      display: flex;
      align-items: center;
      background-color: var(--color-surface-0);
    }
    & figure:nth-child(even) figcaption {
      flex-direction: row-reverse;
    }
    & figcaption::after {
      content: "";
      flex-grow: 1;
      height: 2px;
      background-color: currentColor;
      margin-left: 10px;
    }
    & figure:nth-child(even) figcaption::after {
      margin: 0 10px 0 0;
    }
    & img {
      grid-column: 1 / 3;
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-top-left-radius: 2rem;
    }
    & p {
      --transform-in: translateY(10px);
      --transform-out: translateY(0);
      display: flex;
      flex-wrap: wrap;
      font-size: 1.5rem;
      padding-top: 40px;
      gap: 4px;
      align-self: start;
    }
    &:nth-child(odd) p {
      padding-right: 48px;
    }
    &:nth-child(even) p {
      padding-left: 48px;
    }
  }

  &.is-visible {
    & .slot p {
      @apply splitted-text;
    }
  }

  @media (width < 768px) {
    & .slot {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    & p {
      display: none;
    }
  }
}
