.main-footer {
  display: grid;
  gap: 16px;
  margin-inline: 24px;
  padding: 24px;
  background-color: var(--color-surface-2);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;

  & hr {
    border-top-width: 1px;
    border-color: var(--color-outline);
    opacity: 0.2;
    width: 75%;
    place-self: center;
  }


  & nav {
    display: flex;
    gap: 24px;
  }

}
.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  & figure {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  & figcaption {
    width: 19ch;
    font-size: 1rem;
  }

  & address {
    display: grid;
    font-style: normal;
    gap: 8px;
    font-size: 1.2rem;
    line-height: 1.8;
    justify-self: right;
  }


  & > img {
    justify-self: end;
  }
  

}

@media (max-width: 768px) {
  .main-footer {
    margin-inline: 0;
  }
  .footer-top {
    grid-template-columns: 1fr;
    padding: 0;
    height: 30vh;

    & address {
      justify-self: left;
      padding: 0 0 0 48px;
    }

    & figure {
      margin: 0;
    }

    & hr {
      display: none;
    }

  }
}
