@container sticky-recommandation scroll-state(stuck: top) {
  #recommandations li > img {
    opacity: 0;
    transform: scale(0.5);
  }
  #recommandations li > hgroup {
    transform: translateX(-56px);
  }
}