@container sticky-recommandation scroll-state(stuck: top) {
  #recommendation li > img {
    opacity: 0;
    transform: scale(0.5);
  }
  #recommendation li > hgroup {
    transform: translateX(-56px);
  }
  #recommendation #stars div svg {
    transform: translateX(calc(var(--index) * -25px));
  }
  #recommendation #stars div::before {
    opacity: 0;
  }
}
