body:has(#form) {
  display: grid;
  min-height: 100dvh;
  @media (width > 768px) {
    padding: 32px;
  }
}

.step-price {
  padding-inline: 16px;

  & p {
    font-size: 1.2rem;
  }
}

#form {
  --radius: 16px;
  --background: var(--color-surface-2);
  display: grid;
  place-self: center;
  width: 100%;
  max-width: 800px;
  & .card-content {
    position: relative;
    isolation: isolate;
    &::before {
      content: "";
      inset: 0;
      position: absolute;
      z-index: -1;
      background-color: var(--background);
      border-bottom-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }
  }
  & img {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  & header {
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    isolation: isolate;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      background-color: var(--background);
    }
    & hgroup {
      flex: 1;
    }
  }
  & h1 {
    display: inline-block;
    font-size: 2rem;
    flex: 1;
  }
  &:has(form:invalid) output {
    display: none;
  }
  & output {
    font-size: 1.5rem;
    --opacity-in: 0;
    animation: fade 300ms var(--ease-in);
  }
  & form {
    display: grid;
    gap: 16px;
    padding: 16px;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }
  & footer {
    display: flex;
    gap: 16px;
  }
  & button[type="submit"] {
    flex: 1;
  }
  @media (width < 800px) {
    --radius: 0px;
    & h1 {
      font-size: 1.2rem;
    }
    & output {
      font-size: 1.1rem;
    }
    & .step-price {
      p {
        font-size: 0.9rem;
      }
    }
    & img {
      height: 200px;
    }
  }
}
