@import "tailwindcss";


@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url('/fonts/Josefin Sans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@property --hue {
  syntax: "<angle>";
  inherits: true;
  initial-value: 45deg;
}
@property --neutral-chroma {
  syntax: "<number>";
  inherits: true;
  initial-value: 0.02;
}
@property --accent-chroma {
  syntax: "<number>";
  inherits: true;
  initial-value: 0.15;
}

:root {
  view-transition-name: none;
  --ease-out: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-in: cubic-bezier(0.7, 0, 0.84, 0);
}

@theme {
  --spacing: 1px;
  --font-sans: Josefin Sans;
}

@keyframes transform {
  from {
    transform: var(--transform-in);
  }
  to {
    transform: var(--transform-out);
  }
}
@keyframes fade {
  from {
    opacity: var(--opacity-in);
  }
  to {
    opacity: var(--opacity-out);
  }
}
