:root {
  --ease-in: cubic-bezier(0.5, 0, 1, 0.5);
  --ease-out: cubic-bezier(0, 0.5, 0.5, 1);
}

body {
  font-family: system-ui;
  background-color: black;
}

h1 {
  font-size: 3rem;
  color: white;
}

#map {
  --padding: 24px;
  --ratio: 1920 / 1080;
  --img-container-width: calc(100dvw - var(--padding) * 2);
  --img-height: calc(100dvh - var(--padding) * 2);
  --img-width: calc(var(--ratio) * var(--img-height));
  --delta: calc((var(--img-width) - var(--img-container-width)) / 2);
  display: grid;
  grid-template-areas: "welcome" "cities";
  overflow: clip;
  height: 200dvh;
}

#map article {
  height: 100dvh;
  scroll-snap-align: center;
}

#welcome {
  z-index: 1;
  display: grid;
  grid-area: welcome;
}

.presentation {
  --opacity-out: 0;
  --transform-out: translateY(-200px);
  place-self: center;
  display: grid;
  gap: 32px;
  animation-name: transform, fade;
  animation-fill-mode: forwards;
  animation-timeline: view(100%);
  animation-timing-function: var(--ease-in);
  & hgroup {
    display: grid;
    justify-items: center;
    gap: 8px;
  }
}

.imgs {
  --transform-in: scale(1.2);
  grid-area: welcome;
  position: relative;
  padding: var(--padding);
  position: sticky;
  top: 0;
  animation-name: transform, fade-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: var(--ease-out);
  
  view-timeline: --progress;
  view-timeline-inset: 20% auto;
}


.imgs .img-filter {
  --opacity-out: 0;
  position: absolute;
  inset: 0;
  background-color: oklch(20% 0 0 / 0.8);
  animation-name: fade;
  animation-fill-mode: forwards;
  animation-timeline: view(100%);
  animation-timing-function: var(--ease-out);
}

#map img {
  --transform-in: scale(2);
  grid-area: stack;
  border-radius: 24px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation-name: transform;
  animation-fill-mode: forwards;
  animation-timeline: view(100% 0%);
  animation-timing-function: var(--ease-out);
}

.location {
  position: absolute;
  font-size: 1.5rem;
  color: red;
  overflow: clip;
  isolation: isolate;
  padding: 8px 16px;
  top: calc(var(--h) * 100dvh);
  left: calc(var(--w) * var(--img-width) - var(--delta));
  translate: -50% -50%;
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
}
.location p {
  grid-area: stack;
  display: flex;
}
.location .circle {
  grid-area: stack;
  aspect-ratio: 1/1;
  border-radius: 100dvh;
  border: dotted 3px oklch(60% 0.2 var(--hue));
}
.location .circle:nth-child(1) {
  width: 75dvh;
  border-style: dashed;
  --index: 1;
  --hue: 80deg;
}
.location .circle:nth-child(2) {
  width: 50dvh;
  --index: 2;
  --hue: 40deg;
  background-color: oklch(60% 0.2 var(--hue) / 10%);
}

#welcome.is-visible + .imgs .location {
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.1s var(--ease-in);
}
#welcome:not(.is-visible) + .imgs .location {
  transform: translateY(0);
  opacity: 1;
  transition: all 300ms var(--ease-out) var(--delay);
  & .circle {
    --transform-in: scale(0);
    animation-name: transform, rotate;
    animation-duration: 400ms, 60s;
    animation-delay: calc(var(--delay, 0ms) + var(--index) * 100ms);
    animation-fill-mode: backwards, none;
    animation-timing-function: var(--ease-out), linear;
    animation-iteration-count: none, infinite;
  }
  & span {
    --opacity-in: 0;
    --transform-in: translateX(30px);
    animation-name: transform, fade;
    animation-duration: 200ms;
    animation-delay: calc( var(--delay, 0ms) + var(--index) * 10ms);
    animation-fill-mode: backwards;
    animation-timing-function: var(--ease-out);
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
