#map {
  --padding: 24px;
  --ratio: 1920 / 1080;
  --img-container-height: 100dvh;
  --img-container-width: calc(100dvw - var(--padding) * 2);
  --img-height: calc(var(--img-container-height) - var(--padding) * 2);
  --img-width: calc(var(--ratio) * var(--img-height));
  --delta: calc(
    (var(--img-width) - min(var(--img-width), var(--img-container-width))) / 2
  );
  display: grid;
  height: var(--img-container-height);
  position: relative;
  padding: var(--padding);
  overflow: clip;
  margin: auto;
  @media (width < 600px) {
    --img-container-height: 80dvh;
    --padding: 8px;
  }

  & img {
    background-color: var(--color-surface-2);
    border-radius: var(--padding);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  & .location {
    position: absolute;
    font-size: 1.5rem;
    color: var(--color-on-contrast);
    overflow: clip;
    isolation: isolate;
    padding: 8px 16px;
    top: calc(var(--h) * var(--img-container-height));
    left: calc(var(--w) * var(--img-width) - var(--delta));
    translate: -50% -50%;
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
    gap: 4px;
  }
  /* & .location p:first-child {
    transform: translateY(16px);
  } */
  & .location p {
    grid-area: stack;
    display: flex;

    @media (width < 600px) {
      font-size: 1rem;
    }
  }
  & .location .circle {
    grid-area: stack;
    aspect-ratio: 1/1;
    border-radius: 100dvh;
    border: dotted 3px var(--color-outline);
    width: 85dvh;
    border-style: dashed;
    background-color: oklch(
      var(--lightness-2) var(--neutral-chroma) var(--hue) / 10%
    );
    --index: 1;
  }
  &.is-visible .location {
    transform: translateY(0);
    opacity: 1;
    transition: all 300ms var(--ease-out) var(--delay);
    & .circle {
      --transform-in: scale(0);
      animation-name: transform, rotate;
      animation-duration: 400ms, 60s;
      animation-delay: calc(var(--delay, 0ms) + var(--index) * 100ms);
      animation-fill-mode: backwards, none;
      animation-timing-function: var(--ease-out), linear;
      animation-iteration-count: none, infinite;
    }
    & span {
      --opacity-in: 0;
      --transform-in: translateX(30px);
      animation-name: transform, fade;
      animation-duration: 200ms;
      animation-delay: calc(var(--delay, 0ms) + var(--index) * 10ms);
      animation-fill-mode: backwards;
      animation-timing-function: var(--ease-out);
    }
  }
  & #map-legend {
    position: absolute;
    background-color: var(--color-on-contrast);
    padding: 8px 16px;
    border-radius: var(--padding);
    bottom: 40px;
    left: 40px;
    border: dotted 3px var(--color-outline);
    border-style: dashed;

    @media (width < 600px) {
      bottom: 16px;
      left: 16px;
      font-size: 0.8rem;
    }
  }
}

@media not (prefers-reduced-motion: reduce) {
  #map:not(.is-visible) .location {
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.1s var(--ease-in);
  }

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
}
